# Ignore everything
*

# Allow specific directories
!src/
!backend/
!svelte-app/

# Allow specific file types in the allowed directories
!src/**/*.svelte
!src/**/*.css
!src/**/*.html
!src/**/*.js
!src/**/*.json
!backend/**/*.py

!backend/tts/
!backend/tts/f5_tts/
!backend/tts/f5_tts/infer/
!backend/tts/f5_tts/infer/examples/
!backend/tts/f5_tts/infer/examples/vocab.txt

!backend/tts/f5_tts/model/
!backend/tts/f5_tts/model/backbones/


!svelte-app/src/**/*.svelte
!svelte-app/src/**/*.css
!svelte-app/src/**/*.html
!svelte-app/src/**/*.js
!svelte-app/src/**/*.json

# Allow specific files
!.gitignore
!README.md
!package.json
!package-lock.json
!bash.sh
!requirements.txt

# Allow specific files in the public directory
!svelte-app/public/index.html

# Ignore specific files in the allowed directories
src/**/*.log
backend/**/*.log
svelte-app/src/**/*.log
svelte-app/src/**/*.tmp

# Ignore node_modules and other common directories
node_modules/
dist/
build/
.env